@import url("monospace.css");

:root {
  background: var(--background-color-alt);
}
* {
  border-color: var(--border-color);
}
pre, p {
  padding: 0.5em;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 0.75em;
  background: var(--background-color);
}

h1,h2,h3,h4 {
  padding: 0.6em;
  margin: 0.25em auto 0.25em auto;
  border-radius: 0.5em;
  width:fit-content;
  text-transform: initial;
  background: var(--background-color);
}
pre {
  margin: 2em;
  border-radius: 0.5em;
  background: var(--background-color);
  font-size: 75%;
}

body {
  background-image: url("../rope.png");
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: scroll;
}

aside {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10em;
}

aside * {
  margin: 6px 8px 6px 16px;
  border-width: 0.1em;
}
aside table {
  margin: 0px;
}
aside input {
  border-radius: 0.2em;
  border-style: solid;
  background: var(--background-color);
}
aside input:checked:before {
  height: 75%;
  width: 75%;
  border-radius: 0.2em;
  border-style: solid;
}
