@import url("monospace.css");

:root {
  background: var(--background-color-alt);
}
* {
  border-color: var(--border-color);
}
pre, p {
  padding: 0.5em;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 0.75em;
  background: var(--background-color);
}

h1,h2,h3,h4 {
  padding: 0.6em;
  margin: 0.25em auto 0.25em auto;
  border-radius: 0.5em;
  width:fit-content;
  text-transform: initial;
  background: var(--background-color);
}
pre {
  margin: 2em;
  border-radius: 0.5em;
  background: var(--background-color);
  font-size: 75%;
}
